.slider {
  &__tooltip {
    position: absolute;
    min-width: 30px;
    height: 20px;
    padding: 0 4px;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 4px;
    cursor: default;

    &::after {
      position: absolute;
      width: 6px;
      height: 6px;
      content: '';
    }

    &--green {
      background: inherit;

      &::after {
        background: inherit;
      }
    }

    &--purple {
      background: inherit;

      &::after {
        background: inherit;
      }
    }

    &--horizontal {
      top: -30px;
      left: 8px;
      transform: translate(-50%, 0);

      &::after {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
      }
    }

    &--vertical {
      right: 30px;
      bottom: 8px;
      transform: translate(0, 50%);

      &::after {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%) rotate(45deg);
      }
    }
  }
}

.tooltip {
  &__value {
    color: #fff;
    font-size: 14px;
    white-space: nowrap;
  }
}
