doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content='demo-page for slider-plugin')
    meta(name="keywords", content='range-slider, slider-plugin, slider, jquery, typescript, MVP')
    link(rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="./static/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="./static/favicon/favicon-16x16.png")
    link(rel="manifest" href="./static/favicon/site.webmanifest")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    title slider demo-page
  body

    block content

    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
