.slider {
  &__thumb {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    box-shadow: 0 0 8px 2px rgba(150, 159, 167, 20%);
    cursor: grab;
    user-select: none;

    &--horizontal {
      top: 3px;
      transform: translate(-50%, -50%);
    }

    &--vertical {
      left: 3px;
      transform: translate(-50%, 50%);
    }

    &--green {
      background: linear-gradient(180deg, #06a27b 0, #06a27b 50%, #06a27b 100%);
    }

    &--purple {
      background: #7a00ff;
    }
  }
}
