mixin panel(panelOptions)
  -
    const { items = [] } = panelOptions

  .panel(data-id = 'panel')
    .panel__container
      each item in items
        if (item.type === 'select')
          .panel__item
            label.panel__label
              select.panel__select(
                name = item.name
                data-item = item.data
              )
                each option in item.options
                  option(value = option.value)=option.text
              span.panel__span=item.text
        else if (item.type === 'checkbox')
          .panel__item
            label.panel__label
              input.panel__checkbox(
                type = item.type
                value = item.value
                data-item = item.data
                checked = item.checked
              )
              span.panel__span=item.text
        else
          .panel__item
            label.panel__label
              input.panel__input(
                type = item.type
                value = item.value
                data-item = item.data
              )
              span.panel__span=item.text



