extends ./components/layout/layout
include ./components/panel/panel
include ./components/slider-block/slider-block
include ./components/demo-block/demo-block

block content
  .demo-page
    .demo-page__container
      +demo-block({
        id: 'demoBlock1',
        panel: {
          items: [
            {type: 'number', value: 100, text: 'max', data: 'max'},
            {type: 'number', value: 0, text: 'min', data: 'min'},
            {type: 'number', value: 10, text: 'step', data: 'step'},
            {type: 'number', value: 20, text: 'from', data: 'from'},
            {type: 'number', value: 50, text: 'to', data: 'to'},
            {
              type: 'select', name: 'orientation', text: 'orientation', data: 'orientation',
              options: [
                {value: 'horizontal', text: 'horizontal'},
                {value: 'vertical', text: 'vertical'},
              ]
            },
            {
              type: 'select', name: 'color', text: 'color', data: 'color',
              options: [
                {value: 'green', text: 'green'},
                {value: 'purple', text: 'purple'},
              ]
            },
            {type: 'checkbox', text: 'isRange', checked: true, data: 'isRange'},
            {type: 'checkbox', text: 'progressBar', checked: true, data: 'progressBar'},
            {type: 'checkbox', text: 'tooltips', checked: true, data: 'tooltips'},
            {type: 'checkbox', text: 'labels', checked: true, data: 'labels'},
            {type: number, value: 6, text: 'countOfLabels', data: 'countOfLabels'}
          ]
        },
        sliderBlock: {
          id: 'slider1',
        },
      })
      +demo-block({
        id: 'demoBlock2',
        panel: {
          items: [
            {type: 'number', value: 100, text: 'max', data: 'max'},
            {type: 'number', value: 0, text: 'min', data: 'min'},
            {type: 'number', value: 10, text: 'step', data: 'step'},
            {type: 'number', value: 20, text: 'from', data: 'from'},
            {type: 'number', value: 50, text: 'to', data: 'to'},
            {
              type: 'select', name: 'orientation', text: 'orientation', data: 'orientation',
              options: [
                {value: 'horizontal', text: 'horizontal'},
                {value: 'vertical', text: 'vertical'},
              ]
            },
            {
              type: 'select', name: 'color', text: 'color', data: 'color',
              options: [
                {value: 'green', text: 'green'},
                {value: 'purple', text: 'purple'},
              ]
            },
            {type: 'checkbox', text: 'isRange', checked: true, data: 'isRange'},
            {type: 'checkbox', text: 'progressBar', checked: true, data: 'progressBar'},
            {type: 'checkbox', text: 'tooltips', checked: true, data: 'tooltips'},
            {type: 'checkbox', text: 'labels', checked: true, data: 'labels'},
            {type: number, value: 6, text: 'countOfLabels', data: 'countOfLabels'}
          ]
        },
        sliderBlock: {
          id: 'slider2',
        },
      })
      +demo-block({
        id: 'demoBlock3',
        panel: {
          items: [
            {type: 'number', value: 1.5, text: 'max', data: 'max'},
            {type: 'number', value: -1.5, text: 'min', data: 'min'},
            {type: 'number', value: 0.1, text: 'step', data: 'step'},
            {type: 'number', value: 0, text: 'from', data: 'from'},
            {type: 'number', value: 1, text: 'to', data: 'to'},
            {
              type: 'select', name: 'orientation', text: 'orientation', data: 'orientation',
              options: [
                {value: 'horizontal', text: 'horizontal'},
                {value: 'vertical', text: 'vertical'},
              ]
            },
            {
              type: 'select', name: 'color', text: 'color', data: 'color',
              options: [
                {value: 'green', text: 'green'},
                {value: 'purple', text: 'purple'},
              ]
            },
            {type: 'checkbox', text: 'isRange', checked: true, data: 'isRange'},
            {type: 'checkbox', text: 'progressBar', checked: true, data: 'progressBar'},
            {type: 'checkbox', text: 'tooltips', checked: true, data: 'tooltips'},
            {type: 'checkbox', text: 'labels', checked: true, data: 'labels'},
            {type: number, value: 6, text: 'countOfLabels', data: 'countOfLabels'}
          ]
        },
        sliderBlock: {
          id: 'slider3',
        },
      })
      +demo-block({
        id: 'demoBlock4',
        panel: {
          items: [
            {type: 'number', value: 3.93, text: 'max', data: 'max'},
            {type: 'number', value: -3.33, text: 'min', data: 'min'},
            {type: 'number', value: 0.33, text: 'step', data: 'step'},
            {type: 'number', value: -1.35, text: 'from', data: 'from'},
            {type: 'number', value: 1.29, text: 'to', data: 'to'},
            {
              type: 'select', name: 'orientation', text: 'orientation', data: 'orientation',
              options: [
                {value: 'horizontal', text: 'horizontal'},
                {value: 'vertical', text: 'vertical'},
              ]
            },
            {
              type: 'select', name: 'color', text: 'color', data: 'color',
              options: [
                {value: 'green', text: 'green'},
                {value: 'purple', text: 'purple'},
              ]
            },
            {type: 'checkbox', text: 'isRange', checked: true, data: 'isRange'},
            {type: 'checkbox', text: 'progressBar', checked: true, data: 'progressBar'},
            {type: 'checkbox', text: 'tooltips', checked: true, data: 'tooltips'},
            {type: 'checkbox', text: 'labels', checked: true, data: 'labels'},
            {type: number, value: 6, text: 'countOfLabels', data: 'countOfLabels'}
          ]
        },
        sliderBlock: {
          id: 'slider4',
        },
      })
