.slider {
  &__labels {
    position: absolute;
    color: rgba(54, 51, 51, 50%);
    font-size: 12px;

    &--horizontal {
      bottom: -15px;
      width: 100%;
    }

    &--vertical {
      right: -20px;
      height: 100%;
    }

    &-item {
      position: absolute;
      font-family: Arial, sans-serif;
      transform: translateX(-50%);
      cursor: pointer;

      &:hover {
        color: rgba(54, 51, 51, 100%);
      }
    }

    &--vertical .slider {
      &__labels-item {
        transform: translate(0%, 50%);
      }
    }
  }
}
