.slider__labels {
  position: absolute;
  color: gray;
  font-size: 12px;

  &--horizontal {
    width: 100%;
    bottom: -15px;
  }

  &--vertical {
    height: 100%;
    right: -20px;
  }

  &-item {
    position: absolute;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transform: translateX(-50%);
  }

  &--vertical .slider__labels-item {
    transform: translate(-50%, 50%);
  }
}



