include ../panel/panel
include ../slider-block/slider-block

mixin demoBlock(options)
  -
    const { id, panel, sliderBlock } = options

  .demo-block(data-id = id)
    .demo-block__container
      +panel(panel)
      +sliderBlock(sliderBlock)
