.slider {
  &__scale {
    position: relative;
    background: #e6e6e6;
    border-radius: 3px;
    cursor: pointer;

    &--horizontal {
      width: 100%;
      min-width: 266px;
      max-width: 80%;
      height: 6px;
    }

    &--vertical {
      width: 6px;
      height: 100%;
      min-height: 300px;
      max-height: 80%;
    }
  }
}
